.navbar-container {
    width: 100%;
    height: 20rem;
    position: relative;

    .row {
        width: 80%;
        height: 15rem;
        margin: auto;
        padding: 1.5rem 0 0;
        display: flex;

        .logo {
            width: 30%;
            margin: auto;
            img {
                width: 60%;
                cursor: pointer;
            }
        }

        .search {
            width: 50%;
            margin: 0 auto;
            position: relative;
            padding-top: 4rem;

            input {
                width: 92%;
                height: 2.6rem;
                font-size: 1.4rem;
                color: var(--text-black-color);
                border: 0.1rem solid #333;
                outline: none;
                padding: 2rem 5rem 2rem 2rem;
                border-radius: 2rem;
            }

            .search-icon {
                position: absolute;
                right: 4rem;
                top: 5.3rem;
                border-left: 0.1rem solid var(--text-black-hover);
                padding-left: 1rem;

                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    opacity: 0.8;
                }

                svg:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }

                .search-loading {
                    animation: 1s loading ease infinite;
                    display: none;
                }

                @keyframes loading {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            .search-wrapper {
                position: relative;
                right: 1.8rem;
                z-index: 1;
                width: 45rem;
                min-height: 8rem;
                max-height: 41.8rem;
                overflow: hidden;
                margin: 0 auto;
                background: var(--text-white-color);
                box-shadow: 0 0.1rem 0.5rem #999;
                border-bottom-left-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
                padding: 1rem 0;
                text-align: left;
                display: none;

                p {
                    font-size: 1.5rem;
                    color: var(--text-black-hover);
                    padding-left: 1rem;
                }

                span {
                    width: 100%;
                    display: flex;
                    font-size: 1.5rem;
                    padding: 0.8rem 0;
                    justify-content: center;
                }

                .search-wrapper-item {
                    width: 100%;
                    font-size: 1.5rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0.8rem 2rem;
                }

                .search-wrapper-item:hover {
                    background: var(--border-line);
                    cursor: pointer;
                }
            }

            .search-wrapper:hover {
                display: block;
            }

            input:focus ~ .search-wrapper {
                //.search-wrapper là anh em liền kề với input
                display: block;
            }
        }

        .user {
            width: 30%;
            display: flex;
            justify-content: center;
            padding-top: 1rem;

            .user-item {
                position: relative;
                height: 2rem;
                text-transform: capitalize;
                font-size: 1.5rem;
                font-weight: 600;
                padding: 0 1.2rem;
                color: var(--text-black-color);
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    text-align: left;
                    height: 2rem;
                    width: 12rem;
                    font-size: 1.5rem;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                svg {
                    padding-right: 0.6rem;
                    font-size: 1.5rem;
                }

                img {
                    margin-right: 0.6rem;
                    width: 2rem;
                    height: 2rem;
                }

                .user-item-box {
                    display: none;
                    z-index: 6;
                    color: var(--text-black-color);
                    position: absolute;
                    top: 3rem;
                    right: 5rem;
                    width: 14rem;
                    height: 11rem;
                    border-radius: 0.2rem;
                    box-shadow: 0 0.1rem 3.125rem 0 rgb(0 0 0 / 20%);
                    background: var(--text-white-color);
                }

                .user-item-box::before {
                    position: absolute;
                    content: '';
                    top: -1.4rem;
                    left: 0;
                    width: 100%;
                    height: 1.6rem;
                }

                .user-item-box::after {
                    display: none;
                    position: absolute;
                    top: -2.4rem;
                    right: 0.6rem;
                    content: '';
                    border-width: 1.2rem 1.4rem;
                    border-style: solid;
                    border-color: transparent transparent var(--text-white-color) transparent;
                }

                .user-profile-item {
                    display: flex;
                    color: var(--text-black-color);
                    z-index: 1;
                    position: relative;
                    font-size: 1.4rem;
                    text-align: left;
                    padding: 0.8rem 0 0.8rem 1rem;
                }

                .user-profile-item:hover {
                    background-color: rgb(0 0 0 / 5%);
                }
            }

            .user-item:hover {
                cursor: pointer;
                color: var(--background-color);
            }

            .user-profile:hover {
                color: var(--text-black-color);
                .user-item-box {
                    display: block;
                }
                .user-item-box::after {
                    display: block;
                }
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 5rem;
        background: var(--background-color);

        .menu-item {
            width: 15rem;
            height: 100%;
            list-style: none;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: 600;
            margin: 0 0.6rem;
            padding: 1.2rem 1rem;
            color: var(--text-white-color);
            text-align: center;
            letter-spacing: -0.03rem;

            svg {
                padding-right: 0.4rem;
                font-size: 1.6rem;
            }
        }

        .menu-item:hover {
            cursor: pointer;
            background-color: var(--background-hover);
        }

        .menu-icon {
            position: relative;
            width: 4rem;
            height: 4rem;
            margin-left: 4rem;
            border-radius: 50%;
            border: 0.1rem solid var(--text-white-color);
            color: var(--text-white-color);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .menu-icon-number {
                position: absolute;
                display: flex;
                width: 2.8rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                border-radius: 1rem;
                border: 0.1rem solid var(--text-green);
                top: -0.6rem;
                right: -1rem;
                background: white;
                font-size: 1.3rem;
            }

            svg {
                font-size: 1.8rem;
                color: var(--text-white-color);
            }

            .box {
                position: absolute;
                z-index: 4;
                top: 1.3rem;
                right: 0.2rem;
                content: '';
                border-width: 1.4rem 1.6rem;
                border-style: solid;
                border-color: transparent transparent var(--text-white-color) transparent;
                display: none;
            }

            .cart-box {
                position: absolute;
                z-index: 3;
                top: 4rem;
                right: -0.8rem;
                width: 40rem;
                min-height: 16rem;
                background: var(--text-white-color);
                box-shadow: 0 0.1rem 0.5rem rgb(0 0 0 / 20%);
                border-radius: 0.3rem;
                color: var(--text-black-color);
                overflow: hidden;
                display: none;

                h3 {
                    font-size: 1.5rem;
                    text-align: left;
                    padding: 1rem 1rem 0;
                    color: var(--text-black-hover);
                }

                .items {
                    max-height: 48rem;
                    overflow-y: scroll;

                    .cart-empty {
                        width: 100%;
                        padding: 1rem 0;

                        img {
                            width: 50%;
                        }
                    }

                    .item {
                        padding: 1rem 0;
                        width: 100%;
                        height: 8rem;
                        display: flex;

                        img {
                            width: 20%;
                            background-size: cover;
                            padding: 0.6rem;
                        }

                        .description {
                            width: 52%;
                            font-size: 1.4rem;
                            padding: 0 0 0 0.3rem;

                            p {
                                text-align: left;
                                font-size: 1.4rem;
                                padding: 0;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                color: var(--text-black-color);
                            }

                            span {
                                font-size: 1.3rem;
                                display: flex;
                                text-align: left;
                                color: var(--text-black-hover);
                            }
                        }

                        .price {
                            flex: 26%;
                            span {
                                display: flex;
                                padding: 1rem 0 1rem 1rem;
                                color: var(--text-green);
                                font-size: 1.4rem;
                            }
                        }
                    }

                    .item:hover {
                        background-color: var(--text-black-005);
                    }
                }

                .btn {
                    width: 100%;
                    margin: 1rem 0 2rem;
                    display: flex;
                    justify-content: flex-end;

                    a {
                        position: relative;
                        right: 2rem;
                        padding: 0.6rem 1.4rem;
                        font-size: 1.5rem;
                        font-weight: 600;
                        background: var(--text-green);
                        color: var(--text-white-color);
                    }

                    a:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                }
            }
        }

        .menu-icon:hover {
            .box {
                display: block;
            }
            .cart-box {
                display: block;
            }
        }
    }
}
