.cart-container {
    width: 100%;

    .wrapper {
        width: 100%;
        min-height: 44vh;
        margin: 2rem 0;
        padding: 2rem 20rem;

        //bảng đơn hàng
        table {
            width: 100%;

            tbody {
                width: 100%;

                tr {
                    display: flex;

                    th {
                        width: 18%;
                        font-size: 1.7rem;
                        color: var(--text-white-color);
                    }
                }

                .header {
                    background-color: var(--text-green);
                }

                .cart-empty {
                    padding: 1rem;
                    flex-direction: column;
                    justify-content: center;
                    display: flex;
                    align-items: center;

                    img {
                        width: 30%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin: 1rem 0;
                    }

                    p {
                        width: 100%;
                        font-size: 1.6rem;
                    }
                }

                .body {
                    display: flex;
                    padding: 1rem;

                    td {
                        width: 18%;
                        font-size: 1.4rem;
                        height: 13rem;

                        img {
                            width: 100%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        p {
                            line-height: 2rem;
                            font-size: 1.4rem;
                            padding: 0 1rem;
                            display: -webkit-box;
                            -webkit-line-clamp: 6;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-align: justify;
                        }

                        span {
                            font-size: 1.4rem;
                        }

                        button {
                            padding: 0.6rem 1.6rem;
                            font-size: 1.5rem;
                            font-weight: 600;
                            background: var(--btn-color);
                            color: var(--text-white-color);
                            border: none;
                            outline: none;
                            border-radius: 0.6rem;
                        }

                        button:hover {
                            cursor: pointer;
                            opacity: 0.8;
                        }
                    }

                    .quantity {
                        display: flex;
                        justify-content: center;
                        cursor: no-drop; //không cho nhập
                        opacity: 0.5; //không cho nhập

                        .plus,
                        .minus {
                            height: 3rem;
                            width: 3rem;
                            padding: 0 1rem;
                            font-size: 2rem;
                            background: var(--text-green);
                            color: var(--text-white-color);
                        }

                        input {
                            margin: 0 0.4rem;
                            text-align: center;
                            font-size: 1.5rem;
                            height: 3rem;
                            width: 5rem;
                            outline: none;
                            border: 0.1rem solid var(--text-green);
                            cursor: no-drop; //không cho nhập
                        }

                        /* Chrome, Safari, Edge, Opera */
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    td:nth-child(6) {
                        width: 10%;
                    }
                }
            }
        }
        table,
        th {
            border: 0.1rem solid var(--text-green);
            border-collapse: collapse;
            padding: 1rem;
        }

        .wrapper-btn {
            width: 100%;
            margin: 1rem 0;
            display: flex;
            justify-content: flex-end;

            a {
                padding: 0.8rem 2rem;
                font-size: 1.6rem;
                font-weight: 600;
                background: var(--text-green);
                color: var(--text-white-color);
                border: none;
                outline: none;
                border-radius: 0.4rem;
            }

            a:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }

        .wrapper-description {
            width: 100%;
            padding: 1rem 2rem;
            font-size: 1.5rem;
            background: var(--background-lightorange);
            text-align: left;
            color: var(--text-white-color);
            border-radius: 1rem;
            border: 0.1rem solid var(--border-line);
        }
    }
}
